<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width , initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="=IE-edge">
<title>Skills</title>
<link rel="stylesheet" href="../css/skill.css">
<link rel="stylesheet" href="/javascript.js/cursor.js">
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>    
        <a  href="" id="logo" ><img src="../images/logo.png" width="50px" height="40px">PORTFOLIO</a>
    <details><summary><i class="fa-solid fa-bars fa-beat-fade" style="color: #ea1026;"></i></summary><div class="nav" id="nav1">
    <a href="../index.html" id="home">HOME</a>
    <a href="../Templates/about.html">ABOUT</a>
    <a href="#">SKILLS</a>
    <a href="#">PROJECTS</a>
    <a href="#">CONTACT</a>  

    </div></details>    
    </header>
    <section>
        <div class="ski"><b>SKILLS</b></div>

    <section CLASS="all" >
       
        <div class="aboutskill1">
        <div class="skill-1" id="prog1"><b><a>Programming Skills</a></b></br>
           <a><i class="fa-brands fa-html5" style="color: #ee692f;"></i>    HTML</a></br>
            <a><i class="fa-brands fa-css3-alt" style="color: #091f69;"></i> CSS</a></br>
            <a><i class="fa-brands fa-js" style="color: #dfd13a;"></i> JAVASCRIPT </a></br>
            <a><i class="fa-brands fa-python" style="color: #2912d9;"></i> PYTHON</a></br>
        </div>
        <div>
        <div class="skill-2" id="prog2"><b><a>Frameworks</a></b></br>
            <a><i class="fa-brands fa-bootstrap" style="color: #0c8ced;"></i> Bootstrap </a></br>
            <a><i class="fa-brands fa-node" style="color: #568f7e;"></i> Node.js </a></br>
            <!-- <a><i class="fa-brands fa-js" style="color: #dfd13a;"></i> JAVASCRIPT </a></br> -->
        </div><br>
        <!-- <div class="aaboutskill3">
        <div class="skill-4">version control</div>
        </div> -->
        </div>
        </div>
    </section>
    <section>
          <div class="aaboutskill3">
        <div class="skill-4">version control</div>
        </div>
    </section>
</section>
</body>
<html>